<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727298838992-vkjqaki5728eb5rt5315jafkitl8u1tc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727298838992-vkjqaki5728eb5rt5315jafkitl8u1tc</string>
	<key>API_KEY</key>
	<string>AIzaSyBgXAWahTcfYo_h__t_FgWmcfqlT1qL6t4</string>
	<key>GCM_SENDER_ID</key>
	<string>727298838992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecomflutter3users</string>
	<key>PROJECT_ID</key>
	<string>multivendorv3</string>
	<key>STORAGE_BUCKET</key>
	<string>multivendorv3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727298838992:ios:4dbb57c5d4ee63ef0269d5</string>
</dict>
</plist>